{% extends 'flatpages/default.html' %}

{% block title %} The Best News: {{ post }} {% endblock title %}


{% block content %}

<br>
<h3>{{ post }}</h3>
<br>
{{ post.text }}
<br>
<br>
- новость №{{ post.pk }}; автор: {{ post.author }}; категория: {{ post.category }}; дата создания: {{ post.dateCreation }} -
<br>
<br>

<a href="{% url 'news_edit' post.id %}"><u>Подписаться</u></a>   <!--ссылка на подписку на рассылку данной темы-->
<a href="{% url 'news_edit' post.id %}"><u>Отписка от темы</u></a>   <!--ссылка на отписку на рассылку данной темы-->
<hr>
<a href="{% url 'news_edit' post.id %}"><u>Редактировать</u></a>   <!--ссылка на редактирование товара-->
<a href="{% url 'news_delete' post.id %}"><u>Удалить</u></a>   <!--ссылка на удаление товара-->



<hr>

{% endblock content %}

