{% extends 'flatpages/default.html' %}

<!-- Название вкладки (строки в браузере)-->
{% block title %} -=NewsPortal CityTomsk=- {% endblock title %}


{% block content %}
<br>
<h1>Все новости и посты</h1>


{% for post in posts %}
<br>
<br>
<h3><a href="{% url 'news_detail' post.id %}"><u>{{ post }}</u></a> </h3> <!-- При нажатии на имя нас теперь будет перекидывать на страницу самого товара -->
<br>
<br>
<h6>{{ post.text | truncatechars:250 }}</h6>
<br>
<br>
<br>
<hr>
<hr>

{% endfor %}


<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
{% if page_obj.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{ page_obj.previous_page_number }}"><<<</a>
{% endif %}

<!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a>{{ num }}</a>
{% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
<a href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

<!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">>>></a>
<a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endif %}
<br>
<hr>

{% endblock content %}
