{% extends 'flatpages/default.html' %}

{% block title %} Список подписчиков по группам {% endblock title %}


{% block content %}

    <h2>Список</h2>
    <button><a href="/appointment/appoint/">Test</a></button>
    <ul>
        {% for categorys in subs %}
            <li> Category: {{ categorys.name }}(id:{{ categorys.subscribers }}); UserName: {{ categorys.subscribers__username }}; Email: {{ categorys.subscribers__email }} </li>
        {% endfor%}
        <hr>
    </ul>


<hr>


{% endblock content %}


