<!--Данный шаблон расширяет базовый шаблон (main из папки templates) и добавляет заголовок второго уровня (немного поменьше) с
названием страницы и переменной, полученной из контекста.-->

{% extends "main.html" %}

{% block content %}

<!--{{request.user.username}} вызов имени авторизованного пользователя-->
<h2>Пользователь "{{request.user.username}}" - статус {% if is_not_authors %} АВТОР {% endif %} {% if is_authors %} ПОЛЬЗОВАТЕЛЬ {% endif %}</h2>
(шаблон templates\protect\index.html)
<hr>
<br>
<div>Здесь может содержаться персональная информация пользователя:</div>
<br>
<!--кнопка выхода из учетной записи пользователя-->
<button><a href="sign/logout/">Выйти</a></button>

<!--кнопка «Хочу стать автором!» - кнопка перехода в другую группу, если переменная, которую мы определили ранее — True-->
<!--if is_not_authors находится в protect\views-->

{% if is_not_authors %}
<button><a href="sign/become_author/">Хочу стать автором!</a></button>
{% endif %}


{% if is_authors %}
<button><a href="sign/not_author/">Хочу стать пользователем!</a></button>
{% endif %}

{% endblock %}

