<!--Данный шаблон расширяет базовый шаблон (main), создает заголовок второго уровня, сообщает пользователю,
что мы находимся сейчас на странице входа на сайт, генерирует форму для ввода данных. Данные со страницы
передаются с помощью post-запроса, и используют (для шифрования видимо) csrf_token, сами поля формы организованы
в виде таблицы (с невидимыми границами) и кнопкой «Войти», которой подтверждается вход. Также создали
кнопку «Регистрация» для регистрации новых пользователей-->


<!--наследование от главного шаблона-->
{% extends "main.html" %}

<!--блок содержания данной страницы-->
{% block content %}
<h2> Войти в систему </h2>
(шаблон templates\sign\login.html)
<hr>
<!--форма отправки введенных данных от пользователя-->
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <!--кнопка отправки данных и входа на сайт-->
    <input type="submit" value="Войти">
</form>
<button><a href="/sign/signup"> Регистрация </a></button>
{% endblock %}