<!--базовый шаблон, который будет расширять все остальные шаблоны-->
<html>
    <head>
<!--заголовок (имя, отображаемое во вкладке браузера), который остается постоянным для любой страницы-->
        <title> Страница пользователя {{request.user.username}}</title>
    </head>
    <body>
        <div>
<!--В теле страницы мы добавили также заголовок, при нажатии на который, пользователь перенаправится в корневую
страницу сайта, ссылка href="/" значит переход в корень папки, в нашем случае 127.0.0.1:8000  -->
            <h1><a href="http://127.0.0.1:8000/news/">-=NewsPortal CityTomsk=-</a></h1>
            <h1><a href="/">SignUp/SignIn</a></h1>
            <h3><a href="http://127.0.0.1:8000/admin">Admin panel</a></h3>
            (шаблон templates\main.html)
<hr>
        </div>
<!--блок content, который будут расширять другие шаблоны-->
        {% block content %}
        {% endblock %}
    </body>
</html>